<a href="/dashboard" class="button">&larr; Back</a>

<div class="admin-title">
  <h2>Add New Post</h2>
</div>
<form action="/add-post" method="POST">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      ><b>Title</b></label
    >
    <input
      type="text"
      name="title"
      class="form-control opacity-75"
      id="exampleFormControlInput1"
      placeholder="Post title"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      ><b>Content</b></label
    >
    <textarea
      class="form-control opacity-75"
      name="body"
      id="exampleFormControlTextarea1"
      cols="40"
      rows="10"
    ></textarea>
  </div>
  <input type="submit" name="" class="btn btn-dark" value="Add" />
</form>
