<!-- <div class="searchBar">
  <div class="container">
    <form action="/search" class="search__form" role="search" method="POST">
      <input
        type="search"
        aria-label="Search"
        id="searchInput"
        name="searchTerm"
        placeholder="Search the site..."
      />
    </form>
  </div>
</div> -->

<div class="searchBar">
  <div class="container">
    <form action="/search" class="d-flex" role="search" method="POST">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search the site..."
        aria-label="Search"
        id="searchInput"
        name="searchTerm"
      />
    </form>
    <div id="searchClose">Close</div>
  </div>
</div>
